.carousel {
  position: relative;
  display: flex; /* Set the carousel items to display in a row */
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Snap items to position */
  -webkit-overflow-scrolling: touch; /* smooth iOS */
  scrollbar-width: none; /* specific FF */
  -ms-overflow-style: none; /* specific IE/Edge */
  height: 100%;
  max-width: 90dvw;
}
.carousel-item {
  display: block;
  flex: 0 0 auto; /* fix size for items */
  scroll-snap-align: start; /* align to start */
  height: 100%;
  max-width: 100%;
}
@media (min-width: 768px){
  .carousel {
	width: 75dvw;
	height: 100%;
  }
  .carousel-item {
    width: 75dvw;
  }
}
.carousel-item.active {
  display: block;
}
.carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar Chrome, Safari, Opera */
}
.carousel-mark {
  color: #CCC;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.carousel-text {
  margin-left: 10px;
  padding: 20px;
}
.carousel-titleT h3 {
  color: #174C67;
  font-size: 36px;
  margin: 20px 0px;
}
@media (max-width: 767px) {
  .carousel-titleT h3 {
	font-size: 24px;
  }
}
.carousel-info {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', cursive;
  font-style: italic;
}
.carousel-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.carousel-story {
  flex: 1;
}
.carousel-navigation {
  display: flex;
  justify-content: center;
}

.carousel-prev {
  color: #F0F0F0;
  background-color: transparent;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 80%;
}
.carousel-next {
  color: #F0F0F0;
  background-color: transparent;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 80%;
}