:root {
  --main-bg-color: #2E2E2E;
  --main-font-color: #F0F0F0;
  --secondary-color: #174C67;
  --box-color: #383838;
  --overlay-color: rgba(46, 46, 46, 0.995);
}
.light-theme {
  --main-bg-color: #F0F0F0;
  --main-font-color: #2E2E2E;
  --secondary-color: #174C67;
  --box-color: #D3D3D3;
  --overlay-color: rgba(240, 240, 240, 0.995);
}
.dark-theme {
  --main-bg-color: #2E2E2E;
  --main-font-color: #F0F0F0;
  --secondary-color: #174C67;
  --box-color: #383838;
  --overlay-color: rgba(46, 46, 46, 0.995);
}

/* add add color themes for fun??*/