#career-content {
  width: 90dvw;
  height: 100dvh;
  display: none;
}
#career-content.active {
  width: 90dvw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: auto; 
}
@media (min-width: 1000px){
  #career-content.active {
    width: 75dvw;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
  }
}
#contact-content {
  width: 90dvw;
  height: 90%;
  text-align: center;
  display: none;
}
#contact-content.active {
  width: 90dvw;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills-content {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#skills-content.active {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
.button-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.transparent-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #CCC;
  letter-spacing: 2px;
}
.transparent-btn.active {
  color: #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
