/* Menu and button Toggles */
.lower-btn {
  color: var(--main-font-color);
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  outline: none;
  background-color: transparent;
  font-size: 17px;
}
@media (max-width: 768px){
  .lower-btn {
	position: relative;
	padding: 0px 16px;
	bottom:5%;
	margin: 0 auto;
  }
}
.menu-holder {
  position: relative;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  padding: 5px;
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 1200;
  color: var(--secondary-color);
}
.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.menu-toggle.active + .close-btn {
  display: flex;
}
.menu-toggle, .close-btn, .menu-btn {
  cursor: pointer;
}
.menu-holder.active .close-btn,
.menu-holder.active .menu-toggle {
  display: flex;
}
.menu-holder.active .menu-toggle {
  display: none;
}

/* Button closes*/
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1200; 
  display: none;
}

.close-btn:before {
  transform: translateY(-50%) rotate(45deg);
}
.close-btn:after {
  transform: translateY(-50%) rotate(-45deg);
}
/* Top scrolling arrow*/
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--main-font-color);
  border: 1px;
  border-color: black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  line-height: 5px;
  z-index: 1000;
}
.scroll-to-top.active {
  display: block;
}