/* Menu and button Toggles */
.lower-btn {
  color: var(--secondary-color);
  font-size: var(--font-size-lg);
  border: none;
  cursor: default;
  display: block;
  margin: 0 auto;
  outline: none;
  background-color: transparent;
}
.menu-holder {
  position: relative;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  padding: 5px;
  bottom: 15px;
  right: 20px;
  z-index: 1200;
  color: var(--secondary-color);
}
.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.menu-toggle.active + .close-btn {
  display: flex;
}
.menu-toggle, .close-btn, .menu-btn {
  cursor: pointer;
}
.menu-holder.active .close-btn,
.menu-holder.active .menu-toggle {
  display: flex;
}
.menu-holder.active .menu-toggle {
  display: none;
}

/* Button closes*/
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1200; 
  display: none;
}

.close-btn:before {
  transform: translateY(-50%) rotate(45deg);
}
.close-btn:after {
  transform: translateY(-50%) rotate(-45deg);
}