/* font styles */
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato-Italic.ttf') format('truetype');
}
/* body styles */
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #1a1a1c;
  margin: 0;
  padding: 0;
}
.logo {
  font-size: 24px;
}

/* Navigation styles */
.bar, .nav {
  width: 100%;
  height: 3px;
  background-color: #174C67;
  border-radius: 2px;
  transition: transform 0.3s ease;
}
.nav {
  display: none;
}

.nav.active {
  display: flex;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav ul li {
  padding: 10px 0;
  text-align: center;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/* Section styles */
.section {
  padding: 0px;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section p {
  color: #fff;
  display: inline-block;
  white-space: normal;
  overflow: hidden;
  font-size: 28px;
  text-align: left;
}
h2.Lato {
  font-family: 'Lato', cursive;
  font-style: italic;
  color: #174C67;
  font-size: 35px;
  padding-top: 10px;
}
h4.lato {
  font-size: 28px;
  color: #fff;
  letter-spacing: 3px;
}
.header-content {
  position: relative;
  overflow: hidden;
}
.header-content h4 {
  position: relative;
  line-height: 1.8em;
  padding: 0.35em 1em;
  margin-bottom: 30px;
}
.header-content h4::before {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 1.5s;
}
.header-content h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  right: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeInRight 1s ease forwards;
  animation-delay: 1.5s;
}
@keyframes fadeInLeft {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.headersub {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; 
  animation-delay: 3s;
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
  padding-bottom: 37px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 4s;
  transform: translateY(20px);
  flex-direction: column;
}
.darrow {
  color: #fff;
  font-size: 40px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cleanlink {
	text-decoration: none;
	color: #fff;
}
.letter-paragraph {
  overflow: hidden;
}
.enlarged-letter {
  font-size: 60px;
  float: left;
  margin-right: 10px;
  font-family: 'Georgia', serif;
  color: #174C67;
  font-weight: bold;
}
.quoting {
  font-size: 28px;
  float: left;
  margin-right: 10px;
  font-family: 'Georgia', serif;
  color: #fff;
  padding: 20px 0px;
}