/* menu specific styles */
#home {
  position: relative;
  text-align: center;
}
.menu-img {
  position: flex;
}
.MeImg {
  width: 100px;
  height: auto;
  float: center;
  margin-right: 10px;
}
.menu-lang {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 10px;
}
.menu-lang img {
  width: 40px;
  height: auto;
  margin: 0 5px;
  filter: grayscale(75%);
  transition: filter 0.3s ease;
}
.menu-lang img:hover {
  filter: grayscale(0%);
  transform: scale(1.5);
}
/* First Section */
.first-section {
  height: 100vh;
}
.header-content {
  display:flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: auto;
}

/* Additional Sections in One Big Frame */
.additional-sections {
  min-height: 83.3vh;
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: Italic;
  font-size: 20px;
}

.footer-column {
  width: 18%;
  text-align: center;
  color: #174C67;
}
/* screen size per section*/
#about { height: 16.67%; }
#career { height: 16.67%; }
#skills { height: 16.67%; }
#certs { height: 16.67%; }
#contact { height: 16.67%; }