.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-sys,
.skills-net,
.skills-ana,
.skills-des {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  border: 1px solid black;
}

/* For mobile devices */
@media (max-width: 767px) {
  .skills-sys,
  .skills-net,
  .skills-ana,
  .skills-des {
    width: 100%;
	border: 1px solid black;
  }
}
