/*color : #fff; -> kleur voor rand tekst*/
/* font styles */
@font-face{
  font-family: 'AktivGrotesk';
  src: url('/fonts/AktivGrotesk-Regular.ttf') format('truetype'),
       url('/fonts/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NoTime';
  src: url('/fonts/NoTime.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SomeTWild';
  src: url('/fonts/somethingwild-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* body styles */
body {
  font-family: 'AktivGrotesk', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}
.logo {
  font-size: 24px;
}
.menu-img {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-right: 10px;
}
/* Navigation styles */
.bar, .nav {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.nav {
  display: none;
}

.nav.active {
  display: block;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav ul li {
  padding: 10px 0;
  text-align: center;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Overlay menu styles */
.overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 1000;
  overflow-y: auto;
  list-style: none;
  padding-top: 50;
  margin: 0;
  box-sizing: border-box;
}
.overlay-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 20px;
}
.overlay-menu .menu-toggle,
.overlay-menu li {
  position: left;
  padding-left: 50px;
  text-align: left;
  font-size: 48px;
}

.overlay-menu a {
  font-family: 'SomeTWild', cursive;
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 150px;
}

.overlay-menu.active {
  display: block;
}

.overlay-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1200;
}

.overlay-menu.active .close-btn {
  display: block;
}

/* Section styles */
.section {
  padding: 20px;
  min-height: 200px;
  text-align: center;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section p {
  color: #fff;
  display: inline-block;
  white-space: normal; 
  max-width: 600px; 
  overflow: hidden;
  font-size: 28px;
  text-align: left;
}
h2.NoTime {
  font-family: 'NoTime', cursive;
  color: #fff;
  font-size: 35px;
}
h1.SomeTWild {
  font-family: 'SomeTWild', cursive;
  color: #fff;
  font-size: 48px;
  text-align: left;
}
/* Menu and button Toggles */
.download-btn {
  background-color: #3D3C3D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.menu-holder {
  position: relative;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1200;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.menu-toggle.active + .close-btn {
  display: block;
}
.menu-toggle, .close-btn, .menu-btn {
  cursor: pointer;
}
.menu-holder.active .close-btn,
.menu-holder.active .menu-toggle {
  display: block;
}

.menu-holder.active .menu-toggle {
  display: none;
}

/* Button closes*/
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1200; 
  display: none;
}

.close-btn:before {
  transform: translateY(-50%) rotate(45deg);
}

.close-btn:after {
  transform: translateY(-50%) rotate(-45deg);
}

/* Top scrolling arrow*/
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(61, 60, 61, 0.98);
  color: #fff;
  border: 1px;
  border-color: black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  line-height: 5px;
  z-index: 1000;
}

.scroll-to-top.active {
  display: block;
}
/* First Section */
.first-section {
  min-height: 1003px;
  /* Other styles as needed */
}

/* Additional Sections in One Big Frame */
.additional-sections {
  min-height: 6003px;
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: 'AktivGrotesk', sans-serif;
}

.footer-column {
  width: 30%;
}

/* Adjust heights of individual sections */
#about { height: 16.67%; } /* Each section occupies 1/6th of the total height */
#career { height: 16.67%; }
#skills { height: 16.67%; }
#certs { height: 16.67%; }
#contact { height: 16.67%; }